@import "./variables";

.ui.dropdown {
  background: #fff;
  .dropdown-item {
    padding: $item-spacing $item-spacing * 3 $item-spacing $item-spacing * 4;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    color: #444;

    &.primary {
      font-weight: 500;
    }

    &.danger {
      color: map-get($colors, red);
    }

    .icon {
      display: inline-block;
      color: #999;
      margin-right: $item-spacing *2;
    }
    &:hover {
      color: #000;
      background-color: #f5f5f5;

      &.danger {
        color: darken(map-get($colors, red), 20);
        background-color: lighten(map-get($colors, red), 40);
      }

      .icon {
        color: #444;
      }
    }
  }
  &.active {
    border: 1px solid $border-color;
    background-color: #f5f5f5;
  }
}