@import "./variables.scss";

.ui.progress {
  width: 100%;
  background-color: #eee;
  border: 1px solid $border-color;
  height: 24px;
  border-radius: 4px;
  overflow: hidden;

  .filled {
    background-color: #ccc;
    height: 24px;
  } 
}

.panel-footer .ui.progress {
  border-radius: 0px;
  border: none;
  height: 18px;
  .filled { height: 24px } 
}