.ui.statistic-group {
  display: flex;
  justify-content: space-around;
}

.ui.statistic {
  text-align: center;
  .statistic-label {
    text-transform: uppercase;
    font-size: 12px;
  }
  .statistic-value {
    line-height: 1;
    font-size: 60px;
  }
}