.ui.table {
  width: 100%;
  font-size: 0.9em;

  th,td {
    transition: all 0.5s ease-out;
    padding: $item-spacing $item-spacing * 2;
    text-align: left;
    white-space: nowrap;
  }

  .collapsing {
    width: 1px;
    white-space: nowrap;
  }

  thead {
    th {
      text-transform: uppercase;
      border-bottom: 1px solid #bbb;
      font-size: 0.8em;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid #eee;
      }
    }
  }

  &.celled {
    td, th {
      border-collapse: collapse;
    }
    td {
      border: 1px solid #eee;
    }
    th {
      border-bottom: 1px solid #000;
    }
    tfoot td {
      border-top: 2px solid #999;
    }
  }

  tr.selectable:hover { 
    background-color: #f5f5f5;
    td {
      cursor:pointer;
      background-color: #f5f5f5;
      transition: all 0.5s ease-out;
      border-color: #ddd;
    }
  }

  tfoot {
    td {
      border-top: 1px solid #444;
      font-weight: 700;
    }
  }

}